[Desktop Entry]
Name=SAVE WSJTX CONFIG
GenericName=SAVE WSJTX CONFIG
Comment=SAVE WSJTX CONFIG
Exec=save-wsjtx.sh
Icon=applications-system
Terminal=false
Type=Application
