#!/usr/bin/env xdg-open
[Desktop Entry]
Name=VARA HF
Exec=start-vara-hf.sh
Type=Application
StartupNotify=true
Icon=F302_VARA.0
StartupWMClass=vara.exe
