[Desktop Entry]
Name=Update QRV Modules
GenericName=Update QRV Modules
Comment=Get current modules from Github
Exec=update-modules
Icon=update-manager
Terminal=false
Type=Application
Categories=HamRadio;
