[Desktop Entry]
Name=Save Wi-Fi Connection
GenericName=Save Wi-Fi Connection
Exec=save-wifi.sh
Icon=applications-system
Terminal=false
Type=Application
