body {
	color: #ffffff;
	background-color: #000000;
	font-size: 2em;
}

.container {
	margin-top: 250px;
}

h3 {
	font-size: 2em;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}

.form-group {
	margin-bottom: 0 !important;
}

label {
	font-size: 1em !important;
	font-weight: bold;
}

.form-control {
	vertical-align: middle;
	height: 1.5em;
	font-size: 2em !important;
}

.custom-select {
	height: 1.5em;
	font-size: 2em !important;
}

.btn-block {
	margin-top: 100px;
	text-transform: uppercase;
	font-size: 3em;
	font-weight: bold;
}

.btn-block+.btn-block {
	margin-top: 75px;
}

#main-menu {
	position: fixed;
	top: 0;
	width: 100%;
	padding-top: 25px;
	padding-bottom: 25px;

	text-align: center;
	font-size: 3em;
	font-weight: bold;
	
	background-color: #202020;
}

#main-menu a {
	color: white;
}

.item {
	margin-bottom: 15px;
	background-color: #007bff; 
	text-align: center;
	padding: 25px;
	border-radius: 15px;
}

.item-id {
	width: 35%;
	margin: auto;
	font-size: 1.5em;
	font-weight: bold;
	background-color: #404040;
	color: #ffffff;
	border-radius: 15px;
}

.item-org {
	 font-weight: bold;
	 font-size: 1.5em;
	 line-height: 1em;
	 margin: 15px 0;
}

.item-icon {
	display: inline-block;
	margin: 0 15px;
	background-color: #ffffff;
	color: #000000;
	border-radius: 15px;
	padding: 5px 10px;
	font-weight: bold;
}

.item-contact {
	margin-top: 15px;
	font-weight: bold;
}

.item-contact a {
	color: #ffffff;
	text-decoration: none;
}

.item-notes {
	margin-top: 10px;
	background-color: #5baaff;
	font-style: italic;
	border-radius: 15px;
	text-align: left;
	padding: 15px;
}

