[Desktop Entry]
Name=Save FL-Suite Config
GenericName=Save FL-Suite Config
Exec=save-fl-suite.sh
Icon=applications-system
Terminal=false
Type=Application

