[Desktop Entry]
Name=Save JS8Call Config
GenericName=Save JS8Call Config
Exec=save-js8call.sh
Icon=applications-system
Terminal=false
Type=Application
