[Desktop Entry]
Name=SAVE PAT WLNK
GenericName=SAVE PAT WLNK
Comment=SAVE PAT WLNK
Exec=save-pat.sh
Icon=applications-system
Terminal=false
Type=Application
Categories=Network;HamRadio;
