[Desktop Entry]
Name=SET PAT WLNK PASSWORD
GenericName=SET PAT WLNK PASSWORD
Comment=SET PAT WLNK PASSWORD
Exec=set-pat-password.sh
Icon=applications-system
Terminal=false
Type=Application
