[Desktop Entry]
Name=Save Direwolf Config
GenericName=Save Direwolf Config
Exec=save-direwolf.sh
Icon=applications-system
Terminal=false
Type=Application

